spring:
  application:
    name: sync-management
  data:
    mongodb:
      uri: mongodb://root:pass@localhost:27017/admin?authSource=admin
#      host: localhost
#      port: 27017
#      database: test
#      username: root
#      password: pass
#      authentication-database: admin
#  datasource:
#    url: jdbc:h2:file:./data/testdb
#    username: sa
#    password:
#    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
#      naming:
#        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
#        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
#    database-platform: org.hibernate.dialect.H2Dialect
logging:
  level:
    root: INFO
client:
  address: "http://localhost:8080"
imageFolder:
  path: "/data"
server:
  port: 8082
