spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  application:
    name: sync-management
  data:
    mongodb:
      uri: mongodb://root:pass@localhost:27017/admin?authSource=admin
  jpa:
    hibernate:
      ddl-auto: create
logging:
  level:
    root: INFO
client:
  address: "*"
imageFolder:
  path: "./data"
server:
  port: 8082
  tomcat:
    max-swallow-size: 10MB
    accesslog:
      enabled: true